@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&family=Nunito:wght@600&display=swap");

html.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-family: "Nunito Sans", sans-serif;
}
.woman-painter {
  background-image: url(./images/hero-bg.jpg);
  height: 100vh;
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: no-repeat;
}
.painting-section {
  width: 50%;
}

.best-section {
  margin-top: 200px;
}
.img-engineer {
  background-repeat: no-repeat;
  background-size: cover;
  width: 70vh;
  height: 100vh;
  background-position: center;
}
 .bg-primary {
    width: 100%;
    height: 100vh;
    background-size: 100%;
    background-repeat: no-repeat;
  }

@media only screen and (max-width: 600px) {
  /* for tablets and mobile */
  .woman-painter {
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    max-height: 240px;
  }
  @media only screen and (min-width: 400px) {
    /* for tablets and mobile */
    .painting-section {
      width: 100%;
      background-size: 100%;
      background-repeat: no-repeat;
       max-height: 240px;
    }
  }
   @media only screen and (max-width: 700px) { 
    /* for tablets and mobile */
  .img-engineer {
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
     max-height: 240px;
  }
}
  @media only screen and (max-width: 700px) {
  /* for tablets and mobile */
  .bg-primary {
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

